/* .background-video{
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   object-fit: contain;
} */
video{
    object-fit: cover;
   width: 100%;
   height: 100%;
    opacity: 2;

 }
.video-banner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}