.home{
    height: 500vh;
    width: 100%;
   text-align: center;
}
.background-video{
    height: 100vh;
}
#baking-background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
 }

.home .carousel-slide{
    
}
.home .carousel-bot{
    padding-top: 20px;
}
.home .carousel-bot img{
    width: 100%;
}
.home .test{
    height: 100vh;
}
.home h1{
    font-family: 'Nunito';
    font-weight: 800;
    margin-top: 25px;
    color:var(--purple);
}