.home{
    height: 500vh;
    width: 100%;
   text-align: center;
}

.home .carousel-slide{
    
}
.home .carousel-bot{
    padding-top: 20px;
}
.home .carousel-bot img{
    width: 100%;
}
.home .carousel-bot .discount-tag{
    width: fit-content;
    background: orange;
    padding: 2px;
    font-family: 'nunito';
    font-weight: 600;
}
.home .test{
    height: 100vh;
}
.home h1{
    font-family: 'Nunito';
    font-weight: 800;
    margin-top: 25px;
    color:var(--purple);
}