.carousel-item, .carousel-item.active {
    align-items:center;
}
.carousel-image{
    height: 600px;
}

.carousel-caption{
    display: flex;
    justify-content: center;
}
.carousel-caption h3{
    font-family: 'Nunito';
    color:var(--purple);
    font-weight: 700;
    font-size: 35pt;
    backdrop-filter: blur(15px) ;
    background: url('background-confetti.webp');
    width: auto;
    
}
.carousel-control-prev{
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(5px);
}
.carousel-control-prev:hover{
    background-color:   rgba(0,0,0, 0.3);
    backdrop-filter: blur(5px);
}
.carousel-control-prev span{
   background-color: gold;
}
.carousel-control-next{
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(5px);
}
.carousel-control-next:hover{
    background-color:   rgba(0,0,0, 0.3);
    backdrop-filter: blur(5px);
}
.carousel-control-next span{
   background-color: gold;
}

@media screen and (max-width: 1000px) {
    .carousel-image{
        height: 300px;
    }
};
    
@media screen and (max-width: 800px) {
    .carousel-image{
        height: 200px;
    }
};
    