 
 .header{
    /* background: linear-gradient(90deg, var(--pink) 50%, var(--blue) 50%);    */
    background: antiquewhite;
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}
.header .header-search{
    border-bottom: 2px solid burlywood;
}
.header .header-search h1{
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 30pt;
    color: var(--pink);
    text-transform: capitalize;
}
.header .header-top{
    top: 0;
    background: burlywood;
    height: 30px;
    width: 100%;
    color: gray;
}
.header .header-top .header-search .showOnMobile{
    display: none;
}
.header .header-search .search-box input[type='text']{
    border: 2px solid  #e67e22;
    border-right: none;
    
}
.header .header-search .search-box button{
    background-color: var(--purple);
    border: 2px solid  #e67e22;
    border-left: none;
    width: 15%;
}
@media only screen and (max-width: 1100px) {
    /* .hideOnMobile{
        display: none;
    }
    .showOnMobile{
        display: block;
    } */
}
@media only screen and (max-width: 990px){
    .header .header-search{
        height: fit-content;
    }
}
@media only screen and (max-width: 400px){
    .hideOnXS{
        display: none;
    }
}