.bakery-banner{
    width: 100%;
    background-image: url('./background-confetti.webp');
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bakery-banner h1{
    font-family: 'nunito',serif;
    font-weight: 800;
    color:var(--logoColor);
    font-size: 40pt;
}
.product-cards{
    
}
.product-cards .card{
    border: 2px solid var(--purple);
}
.product-cards h4{
    color:var(--logoColor);
}
.product-cards h5{
    color:var(--logoColor);
}

.product-cards .add-to-cart-button{
    background-color: #e74c3c;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-cards .details-button{
    background-color: var(--orange);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}