.footer{
    background: lightblue;
    background-color: cover;
    min-height: 400px;
    bottom: 0;
    left: 0;
<<<<<<< HEAD
    
=======
    padding: 30px;
>>>>>>> 469f4ea2bcaf4a46b9be1148c8b1f10050f38407
    height: auto;
    width: 100%;
}
.footer .footer-top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}
.footer .footer-top .col-footer{
   /* width: 350px; */
}
.footer .footer-bot .copyright{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}