.footer{
    background: burlywood;
    background-color: cover;
    min-height: 400px;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    height: auto;
    width: 100%;
}
.footer .footer-top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}
.footer .footer-top .col-footer{
   /* width: 350px; */
}
.footer .footer-bot .copyright{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}